<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/stat-js"></script>
  <title>Статистика</title>
 </head>
 <body>
 	<div class="container">
 	  <div class="row justify-content-center">
        <div class="col-6 mt-1">

		  <h3>Статистика по комментариям:</h3><br>
              <table class="table table-sm" id="region-table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Регион</th>
			      <th scope="col">Всего комментариев</th>
			    </tr>
			  </thead>
			  <tbody>

			  </tbody>
			</table>

                <br><br>
			     <table class="table table-sm d-none" id="city-table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Город</th>
			      <th scope="col">Всего комментариев</th>
			    </tr>
			  </thead>
			  <tbody>

			  </tbody>
			</table>
		</div>
	  </div>
    </div>

 </body>
</html>